<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frisbeer team select form</title>
</head>
<body>

{% if teams %}
    <div>
        {% for player in teams.team1 %}
            <span style="{% if player.rank %}font-weight: bold;{% endif %}">{{ player }} ({{ player.score }})</span>
            {% if not forloop.last %}
                -
            {% endif %}
        {% endfor %}
        <p>vs.</p>
        {% for player in teams.team2 %}
            <span style="{% if player.rank %}font-weight: bold;{% endif %}">{{ player }} ({{ player.score }})</span>
            {% if not forloop.last %}
                -
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<form accept-charset="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Calculate best teams"/>
</form>
</body>
</html>