<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frisbeer team select form</title>
</head>
<body>

{% if teams %}
    <div>
    {%  for team in teams %}
        {% for player in team %}
            <span{% if player.rank %} style="font-weight: bold"{% endif %}>
            {{ player.name }} ({{ player.score }})
            </span>
            {% if not forloop.last %}
                -
            {% endif %}
        {% endfor %}
        {% if forloop.counter0|divisibleby:2 %}
            <p>vs.</p>
        {% elif not forloop.last %}
            <p>and...</p>
        {% endif %}
    {%  endfor %}
    </div>
{% endif %}
<form accept-charset="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Calculate best teams"/>
</form>
</body>
</html>